body {
    margin: 0; /* Remove margens padrão do corpo da página */
    padding: 0; /* Remove preenchimento padrão do corpo da página */
    background-image: url('../images/fundoMenu.jpg'); /* Caminho para a sua imagem de fundo */
    background-size: cover; /* Garante que a imagem cobre toda a tela */
    background-position: center; /* Centraliza a imagem na tela */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    width: 99vw;
    height: 100vh; /* Define a altura da tela como 100% da altura visível do dispositivo */
}

.meu-botao{
    width: 100%;
    height: 8vh;
    border-radius: 15px !important;
    font-size: 2rem !important;
}